
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AccessDenied</h2>
<br />
<h3 style="color:red;font-size:medium;">You're not authorize to access this page / Application. Please contact Atlas Air Admin </h3>
<br />
<h4> <a href='@System.Configuration.ConfigurationManager.AppSettings["DashboardUrl"]'>Click here</a> to go back to Global Net Apps Dashboard / Home Page </h4>


